<div class="row">
  <div class="col-8 row">
    <div class="col-4" *ngFor="let product of products">
      <div class="card">
        <img src="{{ product.thumbnail }}" class="card-img-top" alt="..." />

        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">{{ product.price + "$" }}</p>
          <button
            type="button"
            (click)="addFavorite(product.id)"
            class="btn btn-primary"
          >
            Favorite
          </button>
          <button
            type="button"
            (click)="addCart(product.id)"
            class="btn btn-primary"
          >
            Add cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h2>Cart</h2>
    <p>Cart Total:{{ total }}</p>
    <div class="row">
      <div class="col-12" *ngFor="let product of cartProducts">
        <div class="card">
          <img src="{{ product.thumbnail }}" class="card-img-top" alt="..." />

          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">{{ product.price + "$" }}</p>
            <button
              type="button"
              (click)="removeCart(product.id)"
              class="btn btn-primary"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
