<div class="row">
  <div class="col-4" *ngFor="let product of favoriteProducts">
    <div class="card">
      <img src="{{ product.thumbnail }}" class="card-img-top" alt="..." />

      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.price + "$" }}</p>
        <button
          type="button"
          (click)="removeFavorite(product.id)"
          class="btn btn-warning"
        >
          Remove Favorite
        </button>
        <button
          type="button"
          (click)="addCart(product.id)"
          class="btn btn-primary"
        >
          Add cart
        </button>
      </div>
    </div>
  </div>
</div>
